<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!--本地测试控制台输出-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{ABSOLUTE} %highlight{%level{length=1}} [%t] %style{%c{1.}}{blue}:%highlight{%msg}%n%ex"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>